div.body h2 {
    font-family: sans-serif;
    font-size: 140%;
}

blockquote {
    padding-top: 2em;
    padding-bottom: 4em;
}

.field-name {
    font-family: sans-serif;
    font-weight: normal;
}

div.relations, div.relations h3 {
    font-family: sans-serif;
    font-size: 120%;
    font-weight: normal;
}

.caption span.caption-text {
    color: rgba(0, 0, 0, .6);
    font-family: sans-serif;
    font-size: 0.5em;
    font-weight: lighter;
    position: absolute;
    margin-top: -5.0em;
}
